/* Section */
.sectionwrap {
	width: 1224px;
	height: 694px;
	margin: 0 auto;
	background: url(../images/about.jpg) no-repeat top, url(../images/docubg.jpg) no-repeat bottom ;
}
section {
	width: 980px;
	margin: 0 auto;
}

section h1 {
	font-size: 1.7em;
	font-family: 'Oswald', sans-serif;
	color: #000;
	padding: 228px 0 10px 0;
}
section h2 {
	font-family: tahoma, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	padding: 10px 0 10px 0;
}
section p {
	width: 475px;
	color: #000;
	font-family: tahoma, sans-serif;
	font-size: 1em;
	text-align: justify;
}

/* Footer */
footer {
	width: 1224px;
	height: 38px;
	margin: 0 auto;
	background: url(../images/topcolors.png) no-repeat top, #363636;
	padding: 15px 0 0 0;
}	
footer p {
	font-family: helvetica, arial, sans-serif;
	font-size: .7em;
	font-weight: 300;
	color:#fff;
	padding-left: 120px;
	line-height: 38px;
}